<% content_for :head do %>
<center>	
<%= form_for @user, :as=>:user,  :url=>{:action=>'show', :controller=>'lastfm'} do |f| %>
	<b>last.fm-username: <%= f.text_field :name%> 
	<%= f.submit "go!", :onclick=>"list()"%></b>
<% end %>
<hr/>
<%end%>
</center>
<% content_for :body do %>
<div id="body">
<%unless @songs==[]%>
<%= render "songs"%>
<%end%>
<% unless @artists==[]%>
<%= render "artists"%>
<%end%>
</div>
<%end%>


